<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397425941911-44jpkuf8ovqe5l15jbl3d6vtosmo31n0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397425941911-44jpkuf8ovqe5l15jbl3d6vtosmo31n0</string>
	<key>API_KEY</key>
	<string>AIzaSyDqy8tQ_zsopmLFwMZrBfZlieBxgxEOoyw</string>
	<key>GCM_SENDER_ID</key>
	<string>397425941911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lankaDerana</string>
	<key>PROJECT_ID</key>
	<string>lanka-derana-71822</string>
	<key>STORAGE_BUCKET</key>
	<string>lanka-derana-71822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397425941911:ios:a49cbb4b8fc09b795f78d2</string>
</dict>
</plist>